*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

footer,
nav,
section {
    display: block
}

a,
body,
div,
footer,
h1,
h2,
h3,
html,
img,
li,
nav,
p,
section,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

#sidebar nav a:after,
#sidebar nav a:before {
    content: ''
}

body {
    -webkit-text-size-adjust: none;
    -ms-overflow-style: scrollbar;
    background: #19181E
}

*,
:after,
:before {
    box-sizing: border-box
}

@media screen and (max-width:480px) {
    body,
    html {
        min-width: 320px
    }
}

@-ms-viewport {
    width: device-width
}

body {
    color: rgba(255, 255, 255, .7);
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75
}

@media screen and (max-width:1400px) {
    body {
        font-size: 13pt
    }
}

@media screen and (max-width:1024px) {
    body {
        font-size: 12pt
    }
}

@media screen and (max-width:360px) {
    body {
        font-size: 11pt
    }
}

a {
    -moz-transition: color .15s ease, border-bottom-color .15s ease;
    -webkit-transition: color .15s ease, border-bottom-color .15s ease;
    -ms-transition: color .15s ease, border-bottom-color .15s ease;
    transition: color .15s ease, border-bottom-color .15s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, .35)
}

a:hover {
    border-bottom-color: transparent;
    color: #fff
}

p {
    margin: 0 0 2em
}

h1,
h2,
h3 {
    color: #fff;
    font-weight: 100;
    line-height: 1.5;
    margin: 0 0 .5em
}

h1 {
    font-size: 2.75em
}

h2 {
    font-size: 1.75em
}

h3 {
    font-size: 1.1em
}

@media screen and (max-width:736px) {
    h1 {
        font-size: 2em
    }
    h2 {
        font-size: 1.25em
    }
    h3 {
        font-size: 1em
    }
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color .15s ease;
    -webkit-transition: border-color .15s ease;
    -ms-transition: border-color .15s ease;
    transition: border-color .15s ease;
    background-color: transparent;
    border: 1px solid!important;
    border-color: rgba(255, 255, 255, .3)!important;
    border-radius: 3em;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: .6em;
    font-weight: 100;
    height: calc(4.75em + 2px);
    letter-spacing: .4em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap
}

#sidebar,
ul.actions {
    cursor: default
}

.button:after {
    -moz-transform: scale(.25);
    -webkit-transform: scale(.25);
    -ms-transform: scale(.25);
    transform: scale(.25);
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity .15s ease, -moz-transform .15s ease;
    -webkit-transition: opacity .15s ease, -webkit-transform .15s ease;
    -ms-transition: opacity .15s ease, -ms-transform .15s ease;
    transition: opacity .15s ease, transform .15s ease;
    background: #fff;
    border-radius: 3em;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#sidebar nav a,
.wrapper {
    position: relative
}

ul {
    margin: 0 0 2em
}

.button:disabled {
    cursor: default;
    opacity: .5;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none
}

.button:hover {
    border-color: rgba(255, 255, 255, .7)!important
}

.button:hover:after {
    opacity: .05;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.button:hover:active {
    border-color: #fff!important
}

.button:hover:active:after {
    opacity: .1
}

ul {
    list-style: disc;
    padding-left: 1em
}

#sidebar nav>ul,
ul.actions {
    list-style: none
}

ul li {
    padding-left: .5em
}

ul.actions {
    padding-left: 0
}

ul.actions li {
    display: inline-block;
    vertical-align: middle
}

ul.actions li:last-child {
    padding-right: 0
}

@media screen and (max-width:480px) {
    ul.actions {
        margin: 0 0 2em
    }
    ul.actions li {
        padding: 1em 0 0;
        display: block;
        text-align: center;
        width: 100%
    }
    ul.actions li>* {
        width: 100%;
        margin: 0!important
    }
    ul.actions li .button {
        padding: 0
    }
    ul.actions li:first-child {
        padding-top: 0
    }
}

.wrapper>.inner {
    padding: 5em 5em 3em;
    max-width: 100%;
    width: 75em
}

@media screen and (max-width:1400px) {
    .wrapper>.inner {
        padding: 4em 4em 2em
    }
}

@media screen and (max-width:736px) {
    .wrapper>.inner {
        padding: 3em 2em 1em
    }
}

.wrapper.style3-alt {
    background-color: rgba(0, 0, 0, .3)
}

@media screen and (max-width:1024px) {
    .wrapper>.inner {
        width: 100%
    }
}

#sidebar+#wrapper {
    margin-left: 14em
}

@media screen and (max-width:1024px) {
    #sidebar+#wrapper {
        margin-left: 0;
        padding-top: 3.5em
    }
}

#sidebar {
    padding: 2.5em 2.5em .5em;
    background: #19181E;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 14em;
    z-index: 10000
}

.nav-menu {
    text-align: center
}

#sidebar>.inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity .4s ease;
    -webkit-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    transition: opacity .4s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%
}

#sidebar nav>ul {
    padding: 0
}

#sidebar nav>ul>li {
    -moz-transition: opacity 60ms ease, -moz-transform .3s ease;
    -webkit-transition: opacity 60ms ease, -webkit-transform .3s ease;
    -ms-transition: opacity 60ms ease, -ms-transform .3s ease;
    transition: opacity 60ms ease, transform .3s ease;
    margin: 1.5em 0 0;
    opacity: 1;
    padding: 0;
    position: relative
}

#sidebar nav>ul>li:first-child {
    margin: 0
}

#sidebar nav a {
    -moz-transition: color .15s ease;
    -webkit-transition: color .15s ease;
    -ms-transition: color .15s ease;
    transition: color .15s ease;
    border: 0;
    color: rgba(255, 255, 255, .35);
    display: block;
    font-size: .7em;
    font-weight: 100;
    letter-spacing: .4em;
    line-height: 1.75;
    outline: 0;
    padding: 1em 0;
    text-decoration: none;
    text-transform: uppercase
}

#sidebar nav a:after,
#sidebar nav a:before {
    border-radius: .2em;
    bottom: 0;
    height: 1px;
    position: absolute;
    right: 0;
    width: 100%
}

#sidebar nav a:before {
    background: #25232c
}

#sidebar nav a:after {
    max-width: 0;
    background: rgba(255, 255, 255, .7)
}

.nav-logo img {
    max-width: 100%
}

#sidebar nav a:hover {
    color: rgba(255, 255, 255, .7)
}

@media screen and (max-width:1024px) {
    #sidebar nav,
    #sidebar nav a,
    #sidebar nav ul,
    #sidebar nav ul li,
    #sidebar>.inner {
        height: inherit;
        line-height: inherit
    }
    #sidebar {
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%
    }
    #sidebar>.inner {
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -moz-align-items: stretch;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        align-items: stretch
    }
    #sidebar nav ul {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin: 0
    }
    #sidebar nav ul li {
        display: block;
        margin: 0 0 0 2em;
        padding: 0
    }
    #sidebar nav a {
        padding: 0
    }
    #sidebar nav a:after {
        background-image: none
    }
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(255, 255, 255, .15);
    -webkit-box-shadow: inset -1px -1px 0 rgba(255, 255, 255, .05), inset 1px 1px 0 rgba(255, 255, 255, .05)
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

footer,
h1,
h3 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .2em
}

h2 {
    letter-spacing: .1em
}

section {
    letter-spacing: .02em
}

footer .inner>p {
    font-size: .6em;
    opacity: .5
}

.nav-logo img {
    max-height: 150px
}

::selection {
    background: rgba(0, 0, 0, .7)
}

@media screen and (max-width:1024px) {
    .nav-logo {
        display: none
    }
}

ul.actions li {
    padding: 0 1em 1em 0
}

@media screen and (max-width:480px) {
    ul.actions li {
        padding: 0 0 1em
    }
}
