{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": "last 2 versions"
      }
    } ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    [ "transform-react-jsx", {
      "pragma": "h"
    } ]
  ],
  "retainLines": true,
  "env": {}
}
