/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  padding: 0.5em 1em;
  width: 30em;
  display: flex;
  flex-direction: column;

  p {
    margin: 0.5rem 0;
  }
}

.error {
  color: rgba(231, 76, 60, 0.75);
  font-weight: 600 !important;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    font-size: 1.5em;
    margin: 0.5em 0;
    flex: 1;
  }
}

.status {
  border-top: 1px dashed #ddd;
  margin-top: 0.75rem;
  padding-top: 0.5rem;
  text-align: center;
  color: #444;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.statusIcon {
  background-color: rgba(231, 76, 60, 0.75);
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;

  &.connected {
    background-color: rgba(46, 204, 113, 0.95);
  }

  &.disconnected {
    background-color: rgba(231, 76, 60, 0.75);
  }

  &.connecting {
    background-color: gold;
  }
}
