/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  position: relative;
}

.card, .tokens {
  composes: transition from '../styles.css';

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.card {
  position: absolute;
  font-size: 1rem;

  opacity: 0;
  z-index: -1;

  transform-origin: top left;

  flex-direction: column;
  align-items: flex-start;

  background-color: rgba(40, 40, 40, 0.9);
  color: rgb(200, 200, 200);

  padding: 0.75em 1em;

  .address {
    cursor: text;
  }
}

.card.open {
  opacity: 1;
  z-index: 9999;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;

  .title {
    margin-left: 1em;
    font-size: 1.15em;

    span {
      display: block;
      margin: 0.25em 0;
    }

    .name {
      font-size: 0.75em;
    }
  }
}
