/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

@import "../styles.css";

.container {
  position: relative;
}

.card, .tokens {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.card {
  font-size: 1rem;

  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;

  background-color: rgba(40, 40, 40, 0.9);
  color: rgb(200, 200, 200);

  padding: 0.75em 1em;

  * {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    color: white !important;
  }

  .address {
    cursor: text;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  width: 100%;

  .title {
    margin-left: 1em;
    font-size: 1.15em;
    min-width: 0;

    span {
      display: block;
      margin: 0.25em 0;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .name {
      font-size: 0.75em;
    }
  }
}

.tokens {
  flex-wrap: wrap;
}

.warning {
  margin: 0.5em 0;
  font-size: 0.85rem;
  text-align: justify;

  code {
    font-family: monospace !important;
    font-size: 1rem;
  }
}
